<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <img src="../../../assets/slikaBST.jpg" class="img-fluid mt-5 pt-5" alt="Responsive image">
<form class="pt-5" action="#!">

    <div class="card wow fadeInRight" data-wow-delay="0.3s">
        <div class="card-body">
    <h1 class="h1-responsive font-weight-bold wow fadeInLeft pt-3" data-wow-delay="0.3s">About</h1>
    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
   <p class="text-justify"> 
    BS Telecom Solutions d.o.o je firma osnovana 2002. Godine i na tržištu je prisutna kao proizvođač, isporučilac i integrator kompletnih telekomunikacijskih i informacijskih sistema, koji se zasnivaju na modernim tehnologijama i vlastitim tehnološkim istraživanjima. Koncept rješenja koja nudimo je uvijek u skladu sa zahtjevima i potrebama klijenata i zasnovan je na međunarodnim standardima iz telekomunikacijskih i informacijskih oblasti. Glavni cilj BS Telecom Solutions-a je da izgradnjom odgovarajućeg sistema klijent uvijek bude konkurentan na tržištu i da poveća vlastitu profitabilnost. Zbog težnje ka stalnom napredovanju i zadovoljenju zahtjeva kupaca konstantnim poboljšanjem usluga i proizvoda, BS Telecom Solutions je uspostavio sistem upravljanja kvalitetom u skladu sa standardom ISO 9001:2008.
    <p>
    </div>
</div>

       

</form>


</div>

